.invisible {
    display: none;
}

.rug-pic {
    width: 150px;
    height: 150px;
}

.eth {
    width: 15px;
    height: 15px;
    background-color: #322f3d;
    border-radius: 5rem;
    border-width: thick;
    margin-left: 3px;
    margin-bottom: 3px;
}
